################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment5ABC
/obj
/bin/Debug/net8.0-windows
