################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment5ABC
/obj
/bin/Debug/net8.0-windows
/.vs/ProjectEvaluation/assignment5abc.metadata.v7.bin
/.vs/ProjectEvaluation/assignment5abc.projects.v7.bin
